.image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.figure {
    border: 5px solid $background-color-image-preview;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;

    &.half {
        width: 49%;
    }

    &.full {
        width: 100%;
    }

    img {
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        display: block;
        margin: auto;
    }

    &.thumbnail {
        width: 49%;

        img {
            height: 50px;
            width: auto;
        }
    }

    &.none {
        display: none;
        width: 0;
        height: 0;
    }

    figcaption {
        background: $background-color-image-preview;
        color: $color-image-preview;
        padding: 10px 0;
        text-align: center;

        &.figcaption-error {
            background: $background-color-image-preview-error;

            .compressions-error {
                color: $color-image-preview-error;
            }
        }

        &.figcaption-success {
            background: $background-color-image-preview-success;

            .compressions-success {
                color: $color-image-preview-success;
            }
        }

        .image-title {
            display: inline-block;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
