.table-container {
    margin: 20px;

    table {
        border-collapse: collapse;
        width: 100%;
        background: $background-color-table;

        td, th {
            border: 1px solid $border-color-table;
            padding: 5px 10px;
        }

        tr:first-child th:first-child {
            background: $border-color-table;
            color: $background-color-table;
        }

        td:nth-of-type(2) {
            text-align: left;
        }
    }

    p {
        color: $color-table-p;
        font-style: italic;
        text-align: left;
        margin: 4px;
    }
}

