$background-color-main: rgba(76, 97, 170, 0.05);

// table
$background-color-table: #fff;
$border-color-table: #222;
$color-table-p: #888;

// form
$background-color-form: #fff;
$border-color-input: #00000022;
$box-shadow-form : 2px 2px 8px #00000044;

// image-preview
$background-color-image-preview : #222;
$background-color-image-preview-success : #003600;
$background-color-image-preview-error : #380000;
$color-image-preview : #fff;
$color-image-preview-success : #b2ffa2;
$color-image-preview-error : #ff8a8a;

